---
import type { Config, Sections } from '@/types/data';
import Head from '@/web/head/head.astro';
import { astroI18n } from 'astro-i18n';

export interface Props extends Config {
  sections: Sections;
}

const { meta, sections } = Astro.props;

astroI18n.init(Astro);
---

<!DOCTYPE html>
<html class="scroll-smooth">
  <Head meta={meta} sections={sections} />
  <body
    class="flex justify-center overflow-x-hidden bg-gray-50 dark:bg-gray-900 xl:relative xl:left-7"
  >
    <slot />
  </body>
</html>
